body {
    margin: 0;
    height: 100vh;
    background-image: url("images/posthogbg.png");
    background-size: cover;
    background-position: center;
    overflow:hidden
}

.desktop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.icon {
    width: 80px;
    top: 100px;
    left: 50px;
    text-align: center;
    color: #333;
    cursor: pointer;
    position: absolute;
    cursor: grab;
}

.icon img {
    width: 48px;
    height: 48px;
}

.icon p {
    margin-top: 5px;
    font-size: 14px;
}
