body {
    margin: 0;
    height: 100vh;
    background-image: url("images/posthogbg.png");
    background-size: cover;
    background-position: center;
    overflow:hidden
}

.desktop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.icon {
    width: 80px;
    top: 100px;
    left: 50px;
    text-align: center;
    color: #333;
    cursor: pointer;
    position: absolute;
    cursor: grab;
}

.icon img {
    width: 48px;
    height: 48px;
}

.icon p {
    margin-top: 5px;
    font-size: 14px;
}

.folder{
    display: none  ;
    position: absolute;
    top: 150px;
    left:200px;
    width: 300px;
    background:white
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.folder-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.close-btn{
    cursor: pointer;
}